.background-image {
    background-size: cover; /* or contain depending on what you want */
    background-position: center center;
    background-repeat: no-repeat;
}
#box {
    width: 320px;
    background-color: rgba(255,255,255,0.90);
    border-radius: 10px;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 180px;
}
    
#button-signup {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
}

#disclaimer {
    font-size: x-small;
    line-height: 13px;
    margin-top: 100px;
}